* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgray;
}


.header {
    background-color: aliceblue;
    padding: 0 auto;
    text-align: center;
}

ul {
    list-style: none;

}

li {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding-left: 10px;
}

.card-title {
    font-size: 20px;
}

img {
    width: 100px;
    height: 100px;
}

.fiveDayColor {
    padding: 20px;
    background-color: #1E90FF;
    color: white;
    float: left;
    margin: 10px;
    border: 1px solid lightgray;

}